

body{
    margin: 30px;
    padding: 0;
    background-image: url("back2.jpg");    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-repeat: repeat;
    background-size: auto;
  }

  canvas{
    border: 5px solid #fff;
    cursor: crosshair;
  }

  #playerPKT{
    font-size: 25;
    color: #47ff00;
  }

  #aiPKT{
    font-size: 25;
    color: #47ff00;
  }

  #down{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #f2f2f2; 
    background: goldenrod; 
     line-height: 74px; 
     font-weight: 700; 
     margin: 0 5px 24px; 
     padding: 10px; 
     margin: 0 5px 24px; 
     font-family: 'Libre Baskerville', serif; 
     border-radius: 50px;
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #f2f2f2; 
    background: goldenrod; 
    padding: 10px;
    margin: 10px;
    border-width: 50px;
    border-radius: 50px;
  }